* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //which is equivalent to 10px

  @include respond(tab-land) {
    //applies to all screen < 1200px
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    //applies to all screen < 960px

    font-size: 50%;
  }

  // @include respond(phone) {
  //  font-size: 45%;
  //}

  @include respond(big-desktop) {
    font-size: 68.75%;
    //applies to all screen > 1800px
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: $default-font-size;
  line-height: 1.7;
  font-weight: 400;
  padding: 3rem;

  @include respond(tab-land) {
    padding: 2rem;
  }

  @include respond(tab-port) {
    padding: 0;
  }
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  display: inline-block;
  position: absolute;
  top: 4rem;
  left: 4rem;

  &__img {
    height: 3.5rem;
  }
}
