.header {
  background-image: linear-gradient(
      to right bottom,
      hsla(111, 55%, 64%, 0.8),
      hsla(160, 64%, 43%, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative;

  &__hero-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
